<div id="search" class="lo_search">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="lo_search__field" />
  <span class="lo_search__icon--button">
    <button type="button" class="lo_search__icon"><i class="fa fa-search"></i></button>
  </span>
</div>
